@{
    ViewBag.Title = "Patrick Anstine's MVC application";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>I am a senior at Ohio University majoring in Management Information Systems and Business Analytics. I also have a minor in Finance. I am working for Nationwide part time during the semester on the Finance Data Governance team. I specialize in predictive models, process automation/optimization, and the integration of Amazon Web Services to data analytics.</p>
