@{
    ViewBag.Title = "Contact Me";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Patrick Anstine<br />
    Copeland 012, Athens OH 45701<br />
    <abbr title="Phone">P:</abbr>
    330-608-0219
</address>

<address>
    <strong>Support:</strong>   <a href="malito:pa225016@ohio.edu">pa225016@ohio.edu</a><br />
</address>