@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Patrick Anstine's MVC Application</h1>
    <p class="lead">This website was created for the course MIS 4200 and the professor: Dr. Luce. </p>
    <p><a href="https://ohiocoblms.azurewebsites.net/learn/forumMainPage.aspx?f=8360" class="btn btn-primary btn-lg">Course Home &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Linkedin</h2>
        <p>
            Click the button below to see Patrick Anstine's Linkedin account. Feel free to connect! This profile also has an updated copy of his resume.
        </p>
        <p><a class="btn btn-primary" href="https://www.linkedin.com/in/anstinepatrick/">Linkedin Profile &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Software Development</h2>
        <p>Here are the links to the controllers:</p>
        @Html.ActionLink("Owners", "Index", "Owners")
        <br />
        @Html.ActionLink("Orders", "Index", "Orders")
        <br />
        @Html.ActionLink("OrderDetails", "Index", "OrderDetails")
        <br />
        @Html.ActionLink("Cars", "Index", "Cars")

    </div>
    <div class="col-md-4">
        <h2>GitHub Repository</h2>
        <p>This button will take you to Patrick Anstine's GitHub Repository</p>
        <p><a class="btn btn-primary" href="https://github.com/pa225016">GitHub Repository &raquo;</a></p>
    </div>
</div>